<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>httpFileServer</title>

    <style>
        body {
            width: 400px;
            padding: 30px;
        }

        form {
            margin: 20px 0;
            background: #eee;
            border-radius: 10px;
            padding: 15px;
        }
    </style>

    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <script src="http://malsup.github.com/jquery.form.js"></script>
    <script src="../static/js/jquery.fileDownload.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            var progress = $('#progress');
            var status = $('#status');

            $('#uploadForm').ajaxForm({
                beforeSend: function () {
                    status.empty();
                    progress.val(0);
                },
                uploadProgress: function (event, position, total, percentComplete) {
                    progress.val(percentComplete);
                },
                success: function () {
                    progress.val(100);
                },
                complete: function (xhr) {
                    var obj = $.parseJSON(xhr.responseText);
                    var err = obj.error;
                    if (err == null) {
                        appendFile(obj);
                    } else {
                        status.html(obj.message);
                    }
                }
            });

            getFileList();
        });
    </script>

    <script type="text/javascript">
        function getPathVariable(variable) {
            var query = window.location.search.substring(1);
            var vars = query.split('&amp;');
            vars.forEach(function (item, index, array) {
                var pair = item.split('=');
                if (pair[0] == variable) {
                    return pair[1];
                }
            });
        }

        function getFileList() {
            $.getJSON('/file/list', {path: getPathVariable('path')}, function (data) {
                $('#files').empty();
                $.each(data, function (index, element) {
                    appendFile(element);
                });
            });
        }

        function appendFile(file) {
            $('#files').append('<tr><td>' + file.name + '</td><td>' + file.size + '</td><td>' + file.lastModified + '</td>' +
                    '<td><input value="Delete" onclick="deleteFile(\'' + file.name + '\', this)" type="button"/></td><td><input value="Download" onclick="downloadFile(\'' + file.name + '\', this)" type="button"/></td></tr>');
        }

        function deleteFile(name, button) {
            $.ajax({
                type: "POST",
                url: "/file/del",
                data: ({
                    path: getPathVariable("path"),
                    name: name
                }),
                success: function (msg) {
                    button.parentNode.parentNode.remove();
                }
            });
        }
        
        function downloadFile(name, button) {
        	$.fileDownload('/file/download?name='+name)
        }
            
    </script>
</head>
<body>

<div>
    <table style="width: 100%">
        <caption>Files</caption>
        <thead>
        <tr>
            <th>File name</th>
            <th>Size</th>
            <th>Last modified</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody id="files">
        </tbody>
    </table>
</div>

<div id="upload">
    <form id="uploadForm" method="POST" enctype="multipart/form-data" action="/file/upload">
        <p><input type="file" name="file"/></p>
        <p><input type="hidden" name="path" th:value="${param.path != null} ? ${param.path[0]} : 'D:/file'"/>
            <button type="submit">Upload</button>
        </p>
    </form>

    <div>
        <progress id="progress" style="width: 100%" max="100" value="0"/>
    </div>

    <div id="status"></div>
</div>

</body>
</html>